:root{
    /*--main-background:  #252d37 ;*/
    --main-header: #2f3644;
    --highlight: #6c63ff;
    --color-title: #8c9cbc;
    --main-background: #c0c2ca;
    --main-color-font: #8c9cbc;
}

body{
    background-color: var(--main-background);
    color: var(--main-color-font);
    font-family: Tahoma, sans-serif;
    font-size: 18px;
    margin: 0;
    width: 100%;
    height: 100vh;
}

.header{
    text-align: center;
    text-transform: uppercase;
    padding: 32px;
    background-color: var(--main-header);
    color: var(--color-title);
    border-bottom: 4px solid var(--highlight);
}

.main{
    margin-top: 30px;
    
    display: flex;
    align-items: center;
    flex-direction: column;
    align-content: space-between;
    justify-items: center;
}

.uploader{
    background-color: #2f3644;
    padding: 10px;
    border-radius: 10px;
}

.text{
    margin-top: 10px;
    margin-bottom: 5px;
}
.loader {
    border: 8px solid #f3f3f3; /* Light grey */
    border-top: 8px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
0% { transform: rotate(0deg); }
100% { transform: rotate(360deg); }
}

.video{
    width: 600px;
    margin: 20px auto;
    padding: 5px;
    background-color: #c0c2ca;
}
